
<navigation></navigation>
<div class="container">
	<div class="row">
		<div class = "col-xs-6">
			<h1>Contacts</h1>
		</div>
		<div class = "col-xs-6 text-right">
			 <button type="button" class="btn btn-primary">Add contact</button>
			 <button type="button" class="btn btn-primary">Open contact</button>
			 <button type="button" class="btn btn-primary">Delete contact</button>
		</div>
	</div>
    <div class="row">
		<div class = "col-md-12">
			<contacts></contacts>
		</div>
	</div>
</div>



