<div class="container-fluid">
	<div class="row">
		<div class = "col-xs-12">
			<h1>{{ title }}</h1>
		</div>
		<div class = "col-xs-12 text-right">
			<button type="button" class="btn btn-primary btt" (click)="showFormNewContact()">{{ showForm ? "Add contact" : "Cancel" }}</button>
		</div>
	</div>
	<div class="row">
		<div class = "col-md-12">
			<div class="container-fluid" id="conform" [hidden]="showForm">
				<new-contact></new-contact>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "col-md-12">
			<div class="container-fluid" id="conform" [hidden]="showViewForm">
				<show-contact></show-contact>
			</div>
		</div>
	</div>
	<hr />
	<contact-list [contacts]="contacts"></contact-list>
</div>