

<table class="table table-striped" >
	<thead>
		<tr>
			<th> #Contact </th>
			<th> Name     </th>
			<th> Company  </th>
			<th> Position </th>
			<th> Phone    </th>
			<th> Email    </th>
			<th> <label> <input type="checkbox"> </label> </th>
		</tr>
	</thead>
	<tbody *ngIf="contacts.length > 0">
		<tr *ngFor="let contact of contacts" >
			<th >      contact.id       </th>
			<th> {{ contact.name }}     </th>
			<th> {{ contact.company }}  </th>
			<th> {{ contact.position }} </th>
			<th> {{ contact.phone }}    </th>
			<th> {{ contact.email }}    </th>
			<th> <label> <input type="checkbox"> </label> </th>
		</tr>
	</tbody>
	
</table>