table{
	margin-top: 30px;
}
.form-inline{
	text-align: center;
}
.form-inline{
	text-align: center;
}
th{
	text-align: center;
}
.th-contact{
  font-weight: 100;
}
#view-cont{
	height: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.marking{
	text-decoration: line-through;
}
