#conform {
	background: #EFFBFB;
	margin-top: 20px;
}
h2{
	color: #08088A;
}
input{
	margin-right: 20px;
}
.form-inline{
	text-align: center;

}
#save{
	width: 80px;
}

.btt{
	margin-top: 20px;
}
table{
	margin-top: 30px;
	font-size: 14px;
}
th{
	text-align: center;
}
.th-contact{
  font-weight: 100;
}
#view-cont{
	height: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
}
