#conform {
	background: #EFFBFB;
	text-align: center;
}
h2{
	color: #08088A;
}

#save{
	width: 80px;
	text-align: center;
}

.btt{
	margin-top: 20px;
}
table{
	margin-top: 30px;
	font-size: 14px;
}
th{
	text-align: center;
}
.th-contact{
	font-weight: 100;
}
#view-cont{
	height: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
}

p{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
	color: #08088A;
}
.formcont{
	margin-left: 2px;
	
}

