	
	<div class="container">
	<div class="row">
		<div class = "col-xs-12">
			<h1>{{ title }}</h1>
		</div>
		<div class = "col-xs-12 text-right" [hidden]="buttAdd">
			<button type="button" class="btn btn-primary btt"
			(click)="showformnewcomtact()">{{ showForm ? "Add contact": "Close form"}}</button>
		</div>
	</div>
	<div class="row">
		<div class = "col-md-12">
			<div class="container-fluid" id="conform">
				 <new-contact [hidden]="showForm" 
				 (created)="onContactCreated($event)"></new-contact>
			</div>
		</div>
	</div>	
	
	<div class="row">
		<div class = "col-md-12">
	   		<contact-list 
	   		[contacts]="contacts" 
	   		(deleted)="onContactDeleted($event)"
	   		(onUpdated)="onContactUpdated($event)">
	   	   </contact-list>
	   	</div>
	</div>
	</div>
